[submodule "apps/web/utils/contracts/lib/openzeppelin-contracts"]
	path = apps/web/utils/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "apps/web/utils/contracts/lib/forge-std"]
	path = apps/web/utils/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
